.header-profile {
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: #c0392b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8e44ad, #c0392b);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8e44ad, #c0392b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.user-img {
  text-align: center;
  display: flex;
  width: 100%;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background: #fff;
  border-radius: 50%;
}
.user-img svg {
  height: 100%;
}

.user-name {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    display: block;
}